@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    
    
    width: 100vw;
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url(bg-mobile.svg);
    background-repeat: no-repeat;
    
}

.nav {
    padding: 20px;
    height: 10%;
}

.imagecont {
    padding: 10%;
    height: 30%;
}

.imagecont img {
    width: 100%
}
.text_button {
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.text_button h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}

.text_button p {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

.text_button button {
    padding: 20px;
    width: 80%;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.477);
    color: hsl(257, 40%, 49%);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.fb, .twit, .inst {
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}
